<! DOCTYPE html >
<link rel="stylesheet" href="static/css/index.css">
<html lang ="en">
  <head >
    <title > {{ title }} </title>
  </head >
    <form action="/user/<username>" method="post">
      <div>
        <label for="mail">E-mail:</label>
	<input type="email" id="mail" name="user_mail">
      </div>
     <div>
       <label for="psw">Password:</label>
       	<input type="password" id="pass" name="user_password">
     </div>
     <div class="button">
	<button type="submit">log</button>
     </div>
    </form>
</html >
