<! DOCTYPE html >
<link rel="stylesheet" href="static/css/index.css">
<html lang ="en">
  <head >
    <title > {{ title }} </title>
  </head >
  <script type="text/javascript" src="static/js/index.js"></script>
  <form name="register_form" action="/register" onsubmit="return validatepsswd()" method="post">
     <div>
      <label for="mail">E-mail:</label>
      <input type="email" id="mail" name="user_mail">
     </div>
     <div>
       <label for="psw">Password:</label>
	<input type="password" id="password" name="user_password">       
     </div>
     <div>
       <label for="repeat_psw">Confirm Password:</label>
       	<input type="password" id="password" name="user_password_confirm">
     </div>
     <div class="button">
       <button type="submit">register</button>
     </div>
    </form>
</html >
